<!-- <h3>{{ user.firstName }} {{ user.lastName }}</h3> -->

<ng-content></ng-content>

<!-- <p [ngClass]="{'my-border' : true, 'my-feature': true}">Income : <span [innerText]="user.income"></span></p> -->
<p [ngClass]="dynamicClass" (mouseenter)="onToggle()">
  Income : <span [innerText]="user.income"></span></p>

<p [ngStyle]="dynamicStyle" (mouseenter)="onToggleStyle()" (mouseleave)="onRemoveStyle()">
  Date of Birth : {{ user.dob }}</p>


<p>
  Total Votes : {{ user.votes }}
  <input
    type="number"
    [value]="user.votes"
    (change)="user.votes = $event.target.value"
  />
  <input type="number" [(ngModel)]="user.votes" />
</p>
