<!-- {{user | json}} -->


<!-- <h3>{{ user.firstName }} {{ user.lastName }}</h3> -->
<ng-content></ng-content>
<!-- <p [ngClass]="{'my-border' : true, 'my-feature': true}">Income : <span [innerText]="user.income"></span></p> -->
<p
  [ngClass]="dynamicClass"
  (mouseenter)="onToggle()"
  *ngIf="user.isWorking; else elseTemplate"
>
  Income : <span [innerText]="user.income | currency : 'INR'"></span>
</p>

<p
  [ngStyle]="dynamicStyle"
  (mouseenter)="onToggleStyle()"
  (mouseleave)="onRemoveStyle()"
>
  Date of Birth : {{ user.dob | date : 'dd/MM/yyyy'}}
</p>

<p>
  Total Votes : {{ user.votes }}
  <input
    type="number"
    [value]="user.votes"
    (change)="user.votes = $event.target.value"
  />
  <input type="number" [(ngModel)]="user.votes" />
</p>

<ng-template #elseTemplate>
  <p>Mr. {{ user.lastName }} is NOT working now.</p>
</ng-template>


<br>

<div class="row">
  <div class="col-10 offset-1">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" (click)="tab=1" >Show Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="tab=2">Add Comment</a>
      </li>
    </ul>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="1">
        <ul class="list-group">
          <li *ngFor="let comment of user.comments" class="list-group-item">
            <strong>Stars : {{ comment.stars }}</strong>
            <br>
            <blockquote>
              {{comment.body}}
              <cite class="float-right">-{{comment.author}}</cite>
            </blockquote>
          </li>
        </ul>
      </div>
      <div *ngSwitchCase="2">
        <app-add-comment></app-add-comment>
      </div>
    </div>
  </div>
</div>
