
<div class="container">

  <app-header></app-header>

  <br>

  <router-outlet></router-outlet>

</div>


<!-- <hr>
Title : <input type="text" [(ngModel)] ="title">
<button class="btn btn-danger btn-sm" (click)="showComp = !showComp">Toggle Comp</button>
<app-life-cycle-demo *ngIf="showComp" [title]="title"></app-life-cycle-demo> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-register></app-register> -->

<!-- <app-observable-demo></app-observable-demo> -->

<!-- <hr> -->

<!-- <app-users></app-users> -->

